### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [80]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sdc_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sdc_df.dtypes
sdc_df.count()
sdc_df.columns
sdc_df.head()
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [81]:
# Calculate summary metrics
school_count = len(sdc_df['school_name'].unique())
student_count = len(sdc_df['student_name'])
total_budget = sdc_df['budget'].unique().sum()
ave_math_score = sdc_df['math_score'].mean()
ave_reading_score = sdc_df['reading_score'].mean()
math_pass_score_count = len(sdc_df[sdc_df['math_score']>=70])
math_pass_percent = (math_pass_score_count/student_count) * 100
reading_pass_score_count = len(sdc_df[sdc_df['reading_score']>=70])
reading_pass_percent = (reading_pass_score_count/student_count) * 100
overall_pass_count = len(sdc_df[(sdc_df['math_score']>=70) & (sdc_df['reading_score']>=70)])
overall_pass_percent = (overall_pass_count/student_count)*100

#I know that I did not need to print these but I did it to verify my results befor putting them the the df
print(school_count)
print(student_count)
print(total_budget)
print(ave_math_score)
print(ave_reading_score)
print(math_pass_percent)
print(reading_pass_percent)
print(overall_pass_percent)


dist_sum_df = pd.DataFrame({
    'Number of Schools':[school_count], 
    'Number of Students':[student_count], 
    'Total Budget':[total_budget], 
    'Average Math Score':[ave_math_score], 
    'Average English Score':[ave_reading_score],
    '% Passing Math':[math_pass_percent],
    '% Passing English':[reading_pass_percent],
    '% Overall Passing': [overall_pass_percent]   
})

#dist_sum_df['Total Budget'] = dist_sum_df['Total Budget'].map('${:.2f}'.format)
dist_sum_df['Total Budget'] = dist_sum_df['Total Budget'].map("{:,}".format)
dist_sum_df

15
39170
24649428
78.98537145774827
81.87784018381414
74.9808526933878
85.80546336482001
65.17232575950983

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average English Score,% Passing Math,% Passing English,% Overall Passing
0,15,39170,"24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [82]:
#schools = sdc_df['school_name'].unique()
#huang = sdc_df.loc[sdc_df['school_name'] == 'Huang High School', ['type','budget','reading_score','math_score']]
#huang.head()

total_students = sdc_df['school_name'].value_counts()
total_students_df = pd.DataFrame(total_students)

grouped_schools = sdc_df.groupby(['school_name'])
school_type = grouped_schools['type'].unique()
school_type_df = pd.DataFrame(school_type)
#school_type_df['type'] = school_type_df.loc[:, 'type'].astype(object)

school_budget = grouped_schools['budget'].mean()
school_budget_df = pd.DataFrame(school_budget)
school_budget_df['budget'] = budget_df.loc[:, 'budget'].astype(float)

budget_per_student = school_budget/total_students
budget_per_student_df = pd.DataFrame(budget_per_student)
budget_per_student_df.columns = ['Budget Per Student']

math_average = grouped_schools['math_score'].mean()
math_average_df = pd.DataFrame(math_average)

reading_average = grouped_schools['reading_score'].mean()
reading_average_df = pd.DataFrame(reading_average)

#math_pass_score_count = len(sdc_df[sdc_df['math_score']>=70])


school_summary_df = pd.concat([school_type, total_students_df, budget_df, budget_per_student_df, math_average_df,
reading_average_df], axis=1, join='inner')
school_summary_df = school_summary_df.rename(columns={"type": "School Type", 'school_name':'Total Students', "budget":"Total School Budget", "math_score": "Average Math Score", "reading_score":"Average Reading Score"})

school_summary_df

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score
Bailey High School,[District],4976,3124928.0,628.0,77.048432,81.033963
Cabrera High School,[Charter],1858,1081356.0,582.0,83.061895,83.975780
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020
Ford High School,[District],2739,1763916.0,644.0,77.102592,80.746258
Griffin High School,[Charter],1468,917500.0,625.0,83.351499,83.816757
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412
Holden High School,[Charter],427,248087.0,581.0,83.803279,83.814988
Huang High School,[District],2917,1910635.0,655.0,76.629414,81.182722
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394
Pena High School,[Charter],962,585858.0,609.0,83.839917,84.044699
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686
Shelton High School,[Charter],1761,1056600.0,600.0,83.359455,83.725724
Thomas High School,[Charter],1635,1043130.0,638.0,83.418349,83.848930
Wilson High School,[Charter],2283,1319574.0,578.0,83.274201,83.989488
Wright High School,[Charter],1800,1049400.0,583.0,83.682222,83.955000

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [83]:
top_five_df = school_summary_df.sort_values('Total Students', ascending=False)
top_five_df.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score
Bailey High School,[District],4976,3124928.0,628.0,77.048432,81.033963
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [84]:
Bottom_five_df = school_summary_df.sort_values('Total Students')
Bottom_five_df.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score
Holden High School,[Charter],427,248087.0,581.0,83.803279,83.814988
Pena High School,[Charter],962,585858.0,609.0,83.839917,84.044699
Griffin High School,[Charter],1468,917500.0,625.0,83.351499,83.816757
Thomas High School,[Charter],1635,1043130.0,638.0,83.418349,83.848930
Shelton High School,[Charter],1761,1056600.0,600.0,83.359455,83.725724

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [98]:
Math_score_by_grade = sdc_df[['school_name', 'grade', 'math_score']].groupby(['grade', 'school_name']).agg(['mean'])
Math_score_by_grade_df = pd.DataFrame(Math_score_by_grade)
Math_score_by_grade_df

                            math_score
                                  mean
grade school_name
10th  Bailey High School     76.996772
      Cabrera High School    83.154506
      Figueroa High School   76.539974
      Ford High School       77.672316
      Griffin High School    84.229064
      Hernandez High School  77.337408
      Holden High School     83.429825
      Huang High School      75.908735
      Johnson High School    76.691117
      Pena High School       83.372000
      Rodriguez High School  76.612500
      Shelton High School    82.917411
      Thomas High School     83.087886
      Wilson High School     83.724422
      Wright High School     84.010288
11th  Bailey High School     77.515588
      Cabrera High School    82.765560
      Figueroa High School   76.884344
      Ford High School       76.918058
      Griffin High School    83.842105
      Hernandez High School  77.136029
      Holden High School     85.000000
      Huang High School      76.446602
      Johnson High School    77.491653
      Pena High School       84.328125
      Rodriguez High School  76.395626
      Shelton High School    83.383495
      Thomas High School     83.498795
      Wilson High School     83.195326
      Wright High School     83.836782
12th  Bailey High School     76.492218
      Cabrera High School    83.277487
      Figueroa High School   77.151369
      Ford High School       76.179963
      Griffin High School    83.356164
      Hernandez High School  77.186567
      Holden High School     82.855422
      Huang High School      77.225641
      Johnson High School    76.863248
      Pena High School       84.121547
      Rodriguez High School  77.690748
      Shelton High School    83.778976
      Thomas High School     83.497041
      Wilson High School     83.035794
      Wright High School     83.644986
9th   Bailey High School     77.083676
      Cabrera High School    83.094697
      Figueroa High School   76.403037
      Ford High School       77.361345
      Griffin High School    82.044010
      Hernandez High School  77.438495
      Holden High School     83.787402
      Huang High School      77.027251
      Johnson High School    77.187857
      Pena High School       83.625455
      Rodriguez High School  76.859966
      Shelton High School    83.420755
      Thomas High School     83.590022
      Wilson High School     83.085578
      Wright High School     83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208